[submodule "external/lowwi"]
	path = external/lowwi
	url = https://github.com/CLFML/lowwi.git
[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
